@model  MVCApp.Models.LoginModel
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div id="pageTitle" class="container-fluid text-center border-bottom border-dark mb-5">
        <h2>
            <!-- Page title -->
            Staff Login
        </h2>
    </div>
    @if (Model.FailedLogin == true)
    {
        <!-- Used to convey a failed login attempt -->
        <div class="container-fluid col-12">
            <p class="text-danger text-center">
                Login failed!<br /> Invalid username or password. Please try again or contact the administrator if you have forgotten your details
            </p>
        </div>
    }
    @if (Model.AccessError)
    {
        <!-- Displayed if redirected by asp to this page (unauthorised) -->
        <div class="container-fluid col-12">
            <p class="text-danger text-center">
                You do not have the appropriate credentials to access that page. <br />Please contact the administrator if you believe this is in error.
            </p>
        </div>
    }
        <div>
            <!-- Form for logging in -->
            @using (Html.BeginForm(controllerName: "Account", actionName: "Logon", method: FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xl-6 col-md-8 col-sm-10 mr-auto ml-auto">
                    <div>
                        <!-- input area for username -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                @Html.LabelFor(m => m.Username, new { @class = "input-group-text" })
                            </div>
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <div class="input-group mb-3">
                            <!-- input area for password -->
                            <div class="input-group-prepend">
                                @Html.LabelFor(m => m.Password, new { @class = "input-group-text" })
                            </div>
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <!-- submit button -->
                        <div class="input-group mr-auto ml-auto">
                            <input type="submit" class="btn btn-primary ml-auto mr-auto" />
                        </div>
                    </div>

                </div>
            }
            <!-- End form -->
        </div>

</div>
